body {
	max-width: 100%;
	color: #FFD194;
	background: #800C0C url('img/bg.jpg') repeat;
	font-family: 'Vinque';
}

a {
	color: #4fb69f;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
	margin-top: 0px;
	color: #7099F9;
	font-weight: 500;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #7099F9;
}

h3 {
	font-weight: 100;
	font-size: 1.125em;
	color: #ed6c85;
}

.h2color {
	color: #FFD194;
}
.btn {
	padding: 15px 30px;
	margin: 40px 0;
	color: #00309E;
	background: white url('img/btn.jpg') no-repeat right top;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
	font-weight: bold;
}

.btn:hover {
	background-color: #4cc4a7;
}


.btn-small {
	padding: 10px 25px;
	margin: 50px 0;
	color: #faf3bc;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right bottom;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

.btn-small:hover {
	
	background-color: #c62718;
}

.submit-btn {
	padding: 10px 25px;
	margin: 20px 0 50px 0;
	color: #faf3bc;
	font-family: 'Nunito', sans-serif;
	border: 0;
	font-weight: 100;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right top;;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

ul.nav {
	margin: 0 auto;
	padding: 120px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px;
	padding: 10px 20px;
	color: #510305;
	border-radius: 25px;
	background: white url('img/navbtn.jpg') no-repeat right top;
}

ul.nav li.last {
	margin: 0;
	padding: 10px 25px;
	color: #faf3bc;
	font-family: 'Nunito', sans-serif;
	border: 0;
	font-weight: 100;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right top;;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

ul.nav li.last:hover {
		background-color: #c62718;
}

ul.nav li a {
	color: #00309E;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

#admirals {
	margin-top: 30px;
	height: 60%;
	width: 60%;
	margin-bottom: 0px;
}

#me {
	margin-top: 10px;
	height: 70%;
	width: 70%;
	float: right;
	border: 8px solid #faf3bc;
}

#intro {
	margin: 50px 0 75px 0;
}

#food img {
	border: 8px solid #faf3bc;
	margin: 0 0 20px 0;
	height: 50%;
	width: 100%;
}

#travel img {
	border: 8px solid #faf3bc;
	height: 100%;
	width: 95%;
}

#contact span{
	color: #b22316;
	font-weight: 600;
}

#copyright {
	border-top: 8px solid #2a0400;
	padding: 10px 0;
	margin: 15px 0;
	text-align: center;
}

/*media queries*/

@media screen and (max-width: 480px) {
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
}
#admirals img {
	max-width: 100%;
}
ul.nav {
	margin: 5% 0;
}

ul.nav li a {
	-webkit-user-select: none;
	font-size: 0.750em;
}

ul.nav li {
	float: left;
	margin: 5% 0;
	}
	ul.nav li.about {
		width: 20%;
		text-align: left;
	}
	ul.nav li.portfolio {
		width: 55%;
		text-align: center;
	}
	ul.nav li.contactme {
		width: 25%;
		text-align: right;
	}


#intro, #me, #background {
	display: none;
}
#travel, #food {
	margin: 5% 0;
}

}



















